{% load static %}<link rel="manifest" href="/manifest.webmanifest">
<meta name="theme-color" content="#3B73B9">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Dehlsen">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'quotations/icons/favicon-32.png' %}">
<link rel="apple-touch-icon" href="{% static 'quotations/icons/apple-touch-icon.png' %}">
